[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "nomount"]
	path = nomount
	url = https://github.com/maxsteeel/nomount.git
[submodule "fs/nomount"]
	path = fs/nomount
	url = https://github.com/maxsteeel/nomount.git
